* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: rgb(24, 24, 22);
    background: linear-gradient(90deg, rgba(24, 24, 22, 0.8953781341638218) 100%, rgba(173, 194, 192, 0.7189075459285277) 77%);
    height: 100%;
    width: 100%;
    display: flex;
}

.header-logo img {
    height: 100px;
    width: 180px;
    margin: auto 93px;
    padding: 10px;

}

.header-right-nav {
   margin: auto 0px auto 590px; 
   


}

.header-right-nav ul {
    list-style: none;
}

.header-right-nav ul li {
    display: inline-block;
}

.header-right-nav ul li a {
    text-decoration: none;
    color: rgb(249, 247, 247);
    margin: auto 15px auto 15px;
    font-size: 1rem;
    font-family: 'Secular One', sans-serif;
}

.header-dropdown-icon {
    margin: 44px 19px;
    display: none;
}

.header-right-nav ul li a:hover {
    background-color: rgb(233, 176, 32);
    color: rgb(156, 1, 1);
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 15px;
    transition: 0.9s;
}

@media only screen and (max-width:1120px) {
    html , body{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
    }
    .header {
        height: 180px;
        flex-direction: column;
        text-align: center;
        width:100%;
    }
    .header-right-nav{
margin: auto;
    }
    
}

/* -------------------------- */
.searchbar-section {
    background: rgb(24, 24, 22);
    background: linear-gradient(90deg, rgba(45, 45, 43, 0.895) 100%, rgba(173, 194, 192, 0.7189075459285277) 77%);
width: 100%;
    height: 100px;
    display: flex;

}

.searchbar-section-para {
    color: white;
    font-size: 16px;
    padding: 41px 104px;
    display: flex;
}

#searchbar {
    margin: auto 0px auto 685px;
    padding: 7px 38px;
    border-radius: 11px

}

.searchicon img {
    margin: 9px -29px;
    height: 16px;

}

@media only screen and (max-width:1120px) {
    .searchbar-section{
        width: 100%;
        margin: auto;
       
    }
   
    .searchbar-section-para {
        height: 90px;
        flex-direction: column;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 14px;
        margin: -33px -35px;
        
        line-height: 2rem;
    }

    #searchbar {
        /* display: none; */
        margin: auto 5px;
    }

    .searchicon img {
        display: none;
        /* margin: 8px 0px 8px -44px; */
    }
}

/* -------------------- */
.navbar-section {
    background: rgb(24, 24, 22);
    background: linear-gradient(90deg, rgba(1, 1, 0, 0.895) 100%, rgba(173, 194, 192, 0.7189075459285277) 77%);
width: 100%;
    height: 50px;
    padding: 14px 90px;
}

.navbar-section ul {
    list-style: none;
}

.navbar-section ul li {
    display: inline-block;
}

.navbar-section ul li a {
    text-decoration: none;
    color: wheat;
    margin: 10px;

}
.navbar-section ul li a:hover{
    background-color: lightblue;
    padding: 5px 5px;
    border-radius: 5px;
    color: black;
}

@media screen and (max-width:1120px) {
    .navbar-section {
        height: 60px;
        flex-direction: column;
        padding-left: 103px;
        line-height: 1.4rem;
        /* padding-top: auto; */
        width: 100%;
        
        left: 0;
    }
    .navbar-section ul{
        display: flex;
       
    margin-left: -40px;
    }
    .navbar-section ul li{
        
        display: inline-block;
        border: 2px solid white;
        
    }
    .navbar-section ul li a{
        color:rgb(228, 139, 24);
    }
}
/* --------------------------- */
/* new section */
.gadget-cate{
    height:430px;
    width:100%;
    
    display: flex;
}
.gadget-cate-left{
  
    height: 300px;
    width: 200px;
    margin: 31px 106px;
    border-radius: 20px;
    background: rgb(174,238,227);
background: radial-gradient(circle, rgb(188, 206, 203) 31%, rgb(153, 160, 169) 100%); 
box-shadow: 5px 5px 5px 5px black;
}
.gadget-cate-left-head{
    padding: 5px 12px;
}
.gadget-cate-left-head h6{
    display: inline-block;
    padding: 5px 12px;
    font-size: 18px;
    
}
.dropbtn {
       /* background-color: #4CAF50; */
       color: black;
       padding: 0px;
       font-size: 16px;
       border: none;
       cursor: pointer;
       margin: 21px 15px;
       background: transparent;
       border-radius: 17px;
       /* font-family: 'Kanit', sans-serif; */
       font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    /* display: inline-block; */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
   
  }
  
  .dropdown-content a:hover {
    background-color:bisque;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
   color: red;
  }
  .gadget-cate-right img{
        /* height: 300px; */
        width: 800px;
        padding: 28px;
        margin: 16px;
        box-shadow: 5px 5px 5px  rgb(109, 105, 105);
    
  }
 
 
  
  @media Only screen and (max-width:1120px)
  {
    .gadget-cate{
        height: 30%;
        width: 100%;
        flex-direction: row;
        overflow-y: hidden;
        
    }
    .gadget-cate-left{
        margin-left:0px;
        background: none;
            width:150px;
            height: 250px;
            box-shadow: none;
        
    }
    .gadget-cate-left-head h6{
        display: none;
    }
   
    
    .dropdown{
        padding: 0px 10px 10px 0px;
        display: none;
    }
    .dropbtn{
        position: relative;
        margin-bottom: 0;
        padding: 0;

    }
    .dropdown-content{
        width: 100%;
        position: absolute;
        margin-top: 0;
        margin-left: 90px;
         
        left: 0;
    }
    .dropdown-content a {
        padding: 6;
        
    }
   
    .gadget-cate-left:hover .dropdown{
        display: block !important;
        box-shadow: 3px 3px 3px black;
    }
   
 
    .gadget-cate-right img{
        
        width: 100%;
       
        margin: 38px 0 0px -75px;
  }
  }
  /* -------------------------- */
  .banner-wallpaper{
    /* margin-top: 0;
    padding:0; */
  }
  .banner-wallpaper img{
    width: 100%;
  
    background-position: center;
    
   
  }
  @media only screen and (max-width:1140px){
    .banner-wallpaper img{
        width: 100%;
        margin-top: 15px;
    }
  }
  /* ----------------- */
.card-product{
    background-color:#f6e58d;
    height: 350px;
    margin-top: 85px;
    width: 100%;
}
  .card-product .card-images{
display: flex;
width: 90%;
margin: 0 auto;
justify-content: space-between;


  }
  .card-product .card-images div img{
    width: 400px;
    height: 250px;
    margin-top: 3rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 1rem;

  }
  .card-product .card-images .image1{
    width:100%;
    position: relative;
  }
  .card-product .card-images .image1{
    width:100%;
    height:auto;
    /* border: 1px solid #eee; */
    display: block;
  }
  .card-product .card-images .image1 .container{
    margin-top: 48px;
    width: 94%;
    height: 83%;
    position: absolute;
    /* padding: 15px; */
    top: 0;
    /* left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgba(57, 54, 54, 0.5);
    color: #222;
    opacity: 0;
    transition: 0.6s;
    margin-left: 9px;
  }
  .card-product .card-images .image1 .container:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  .card-product .card-images .image1 .container h4{
font-size:25px ;
color: red;
  }
  .card-product .card-images .image1 .container p{
    font-size: 16px;
    color: white;
  }
@media only screen and (max-width:1140px){
    .card-product{
        width: 100%;
    }
}
      
